* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #959494;
}

.container {
    display: grid;
    grid-template: 20px 119px 20px / 26px 867px;
    grid-template-areas: 
        ".... months"
        "weekdays days"
        ".... meaning";
    padding: 1rem;
}

.months {
    width: 867px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    grid-area: months;
    font-size: 0.75rem;
}

.days {
    display: grid;
    grid-template: repeat(7, 17px) / repeat(51, 17px);
    grid-area: days;
}

.weekdays {
    grid-area: weekdays;
    margin: 0 0.2rem;
}

.weekdays ul {
    list-style: none;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    gap: 17px
}

.legend, .meaning {
    display: flex;
    flex-direction: row;
    grid-area: meaning;
}
.legend span {
    padding: 4.5px;
}

.legend {
    grid-area: meaning;
    margin-top: 1rem;
    font-size: 0.5rem;
}

.meaning {
    margin: 0 0.4rem;
}

.square {
    width: 15px;
    height: 15px;
    background: #EDEDED;
    margin-right: 2px;
    margin-top: 2px;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    max-width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }